@model CollectionsApp.ViewModels.SearchResultViewModel

@{ 
    int foundItemsNumber = Model.Items.Count();
    int foundCollectionsNumber = Model.Collections.Count();
}
<div>
    <div>
        @if (foundItemsNumber == 0 && foundCollectionsNumber == 0)
        {
            <h1 class="h2 text-dark">No matches found for "@ViewBag.Query"</h1>
        }
        else
        {
            <h1 class="h2 text-info">Search results for "@ViewBag.Query"</h1>
        }
    </div>

    <div class="row">
        @if (foundItemsNumber != 0)
        {
            <div class="col">
                <h2 class="h3">Found items</h2>
                <ul>
                    @foreach (var item in Model.Items)
                    {
                        <li style="list-style-type:none">
                            <a href="/Items/Item?itemId=@item.Id">@item.Title</a>
                        </li>
                    }
                </ul>
            </div>
        }

        @if (foundCollectionsNumber != 0)
        {
            <div class="col">
                <h2 class="h3">Found collections</h2>
                <ul>
                    @foreach (var collection in Model.Collections)
                    {
                        <li style="list-style-type:none">
                            <a href="/Items/ItemsList?collectionId=@collection.Id">@collection.Title</a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>




