
<div>
    <nav class="navbar navbar-light bg-success bg-light">
        <form class="form-inline">
            @if (ViewBag.currentUserId.Equals(ViewBag.collectionsOwnerId))
            {
                <h1>My Collections</h1>
            }
            else
            {
                <h1>Collections</h1>
            }
        </form>
        <form class="form-inline">
            <a asp-controller="Collections" asp-action="CreateCollection" asp-route-collectionsOwnerId="@ViewBag.collectionsOwnerId" class="btn btn-outline-success"><i class="bi bi-plus-circle"></i></a>
        </form>
    </nav>

    <table class="table table-striped table-bordered" id="collectionsTable">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Theme</th>
                <th>Description</th>
                <th>Size</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    var collectionsOwnerId = '@ViewBag.collectionsOwnerId';
    
    console.log(collectionsOwnerId);

    var collectionsTable = document.getElementById('collectionsTable');

    updateCollectionsList();

    function updateCollectionsList() {
        var url = '/Collections/GetCollectionsList?userId=' + collectionsOwnerId;
        fetch(url)
            .then(res => res.json())
            .then(data => {
                console.log('data: ', data)
                clearTable(collectionsTable, 1);

                data.forEach((collection) => {
                    var tr = document.createElement('tr');
                    var td;

                    //td = document.createElement('td');
                    //var checkbox = document.createElement("INPUT");
                    //checkbox.setAttribute("type", "checkbox");
                    //checkbox.id = collection.id;
                    //td.innerHTML = checkbox;
                    //tr.appendChild(td);

                    td = document.createElement('td');
                    var a = document.createElement('a');
                    var linkText = document.createTextNode(collection.title);
                    a.appendChild(linkText);
                    a.href = "/Items/ItemsList?collectionId=" + collection.id;
                    td.appendChild(a);
                    tr.appendChild(td);

                    td = document.createElement('td');
                    td.innerHTML = collection.theme;
                    tr.appendChild(td);

                    td = document.createElement('td');
                    td.innerHTML = collection.description;
                    tr.appendChild(td);

                    td = document.createElement('td');
                    td.innerHTML = collection.size;
                    tr.appendChild(td);

                    td = document.createElement('td');
                    a = document.createElement('a');
                    var i = document.createElement('i');
                    i.className = "bi bi-pencil";
                    a.appendChild(i);
                    a.className = "btn btn-outline-success"
                    a.href = "/Collections/EditCollection?collectionId=" + collection.id;
                    td.appendChild(a);

                    a = document.createElement('a');
                    i = document.createElement('i');
                    i.className = "bi bi-trash";
                    a.appendChild(i);
                    a.className = "btn btn-outline-danger";
                    a.href = "/Collections/DeleteCollection?collectionId=" + collection.id;
                    td.appendChild(a);

                    tr.appendChild(td);

                    collectionsTable.append(tr);
                });
                setTimeout(updateCollectionsList, 5000);
            })
            .catch(e => {
                console.log('Error: ', e);
                setTimeout(updateCollectionsList, 5000);
            });
    }

    function clearTable(table, offset = 0) {
        let rowCount = table.rows.length;
        for (var i = offset; i < rowCount; i++) {
            table.deleteRow(offset);
        }
    }
</script>
