@model CollectionsApp.ViewModels.CreateCollectionViewModel

@{
    var inputTypes = new List<string[]>
    (new string[][] {
                        new string[]{ "number", "Integer fields" },
                        new string[]{ "text", "String fields" },
                        new string[]{ "textarea", "Multistring fields" },
                        new string[]{ "date", "Date fields" },
                        new string[]{ "checkbox", "Bool fields" } });
    int index = 0;
}

<div class="form-group">
    <h1 class="h2 text-primary">Create collection</h1>

    <form method="post" enctype="multipart/form-data"
          asp-controller="Collections" asp-action="CreateCollection"
          asp-route-collectionsOwnerId="@ViewBag.collectionsOwnerId">
        <div asp-validation-summary="All"></div>
        <div class="row">
            <div class="col">
                <label asp-for="Title"></label><br />
                <input asp-for="Title" />
                <br /><br />
            </div>

            <div class="col">
                <label asp-for="Theme"></label><br />
                <select asp-for="Theme">
                    <option selected value="books">books</option>
                    <option value="plants">plants</option>
                    <option value="toys">toys</option>
                </select><br /><br />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Description"></label><br />
                <textarea asp-for="Description" style="width:20rem"></textarea>
                <br /><br />
            </div>
            <div class="col">
                <label>Collection image</label><br />
                <input type="file" class="dropzone dz-clickable" style="height:50px;width:300px" accept="image/*" name="collectionImage" id="collectionImage"><br />
            </div>
        </div>

        <div>
            <h4 class="text-success">
                Existing fields: "Title", "Tags"
            </h4><br />
            <h4 class="text-primary">
                Additional fields
            </h4>
        </div>

        <div class="form-row">
            @foreach (var inputType in inputTypes)
            {
                <div>
                    <br />
                    <label>@inputType[1]:</label>
                    @for (int i = 0; i < 3; i++)
                    {
                        @if (ViewBag.collectionFields != null)
                        {
                            <input type="text" name="collectionFields[@index].Title" value="@ViewBag.collectionFields[index].Title" style="width: 10rem" autocomplete="off" />
                        }
                        else
                        {
                            <input type="text" name="collectionFields[@index].Title" style="width: 10rem" autocomplete="off" />
                        }
                        <input type="hidden" name="collectionFields[@index].InputType" value="@inputType[0]" />
                        index++;
                    }
                    <br />
                </div>
            }
        </div>

        <div>
            <br /><input type="submit" class="btn btn-primary" value="Create" /><br />
        </div>
    </form>
</div>



