@model CollectionsApp.ViewModels.CreateCollectionViewModel

<div class="form-group">
    <h1 class="h1 text-primary">Create collection</h1>

    <form method="post" asp-controller="Collections" asp-action="CreateCollection" asp-route-collectionsOwnerId="@ViewBag.collectionsOwnerId">
        <div asp-validation-summary="All"></div>
        <div class="row">
            <div class="col">
                <label asp-for="Title"></label><br />
                <input asp-for="Title" />
                <br /><br />
            </div>

            <div class="col">
                <label asp-for="Theme"></label><br />
                <select asp-for="Theme">
                    <option selected value="books">books</option>
                    <option value="plants">plants</option>
                    <option value="toys">toys</option>
                </select><br /><br />
            </div>
        </div>

        <div>
            <label asp-for="Description"></label><br />
            <textarea asp-for="Description" style="width:20rem"></textarea>
            <br /><br />
        </div>

        <div>
            <label>Additional fields</label><br />
        </div>

        <div class="form-row">
            @{
                var inputTypes = new List<string[]>
                (new string[][] {
                        new string[]{ "number", "Integer fields" },
                        new string[]{ "text", "String fields" },
                        new string[]{ "textarea", "Multistring fields" },
                        new string[]{ "date", "Date fields" },
                        new string[]{ "checkbox", "Bool fields" } });
                int index = 0;
            }
            @foreach (var inputType in inputTypes)
            {
            <div>
                <br />
                <label>@inputType[1]:</label>
                @for (int i = 0; i < 3; i++)
                {
                    @if (ViewBag.collectionFields!= null)
                    { 
                        <input name="collectionFields[@index].Title" value="@ViewBag.collectionFields[index].Title" style="width: 10rem" autocomplete="off" />
                    }
                    else
                    {
                        <input name="collectionFields[@index].Title" style="width: 10rem" autocomplete="off" />
                    }
                    <input type="hidden" name="collectionFields[@index].InputType" value="@inputType[0]" />
                    index++;
                }
                <br />
            </div>
            }
        </div>

        <div>
            <br /><input type="submit" class="btn btn-primary" value="Create" /><br />
        </div>
    </form>
</div>



@*<div class="jumbotron">
    <form action="~/Home/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="width: 50px; background: none; border: none;">
        <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="Upload" />
        </div>
    </form>
</div>*@

