@model CollectionsApp.ViewModels.EditCollectionViewModel

<div class="form-group">
    <h1 class="h1 text-primary">Edit collection</h1>

    <form method="post" asp-controller="Collections" asp-action="EditCollection">
        <div asp-validation-summary="All"></div>

        <div>
            <input type="hidden" name="collectionId" value="@ViewBag.CollectionId" />
        </div>

        <div>
            <label asp-for="Title"></label><br />
            <input asp-for="Title" />
            <br /><br />
        </div>

        <div>
            <label asp-for="Theme"></label><br />
            <select asp-for="Theme">
                <option selected value="books">books</option>
                <option value="plants">plants</option>
                <option value="toys">toys</option>
            </select><br /><br />
        </div>

        <div>
            <label asp-for="Description"></label><br />
            <textarea asp-for="Description"></textarea>
            <br />
        </div>

        <div>
            <br /><input type="submit" class="btn btn-primary" value="Save changes" /><br />
        </div>
    </form>
</div>