@model CollectionsApp.ViewModels.RegisterViewModel

<div class="form-group">
    <h1 class="h2 text-primary">Create user</h1>
    <form method="post" asp-controller="Users" asp-action="CreateUser">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" /><br />
        </div>
        <div>
            <label asp-for="UserName"></label><br />
            <input asp-for="UserName" /><br />
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" /><br />
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" /><br /><br />
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    </form>
</div>

