
<div>
    <nav class="navbar navbar-light bg-success bg-light">
        <form class="form-inline">
            <h1>Users</h1>
        </form>
        <form class="form-inline">
            <a href="/Users/CreateUser" class="btn btn-outline-success"><i class="bi bi-person-plus"></i></a>
        </form>
    </nav>

    <table class="table table-striped table-bordered table-responsive" id="usersTable">
        <thead class="thead-dark">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


<script>
    var usersTable = document.getElementById('usersTable');

    updateUsersList();

    function updateUsersList() {
        var url = '/Users/GetUsersList';
        fetch(url)
            .then(res => res.json())
            .then(data => {
                console.log('data: ', data)
                clearTable(usersTable, 1);

                data.forEach((user) => {
                    var tr = document.createElement('tr');
                    var td;

                    //td = document.createElement('td');
                    //var checkbox = document.createElement("input");
                    //checkbox.setAttribute("type", "checkbox");
                    //checkbox.id = user.id;
                    //td.appendChild(checkbox);
                    //tr.appendChild(td);

                    td = document.createElement('td');
                    var a = document.createElement('a');
                    var linkText = document.createTextNode(user.userName);
                    a.appendChild(linkText);
                    a.href = "/Collections/CollectionsList?collectionsOwnerId=" + user.id;
                    td.appendChild(a);
                    tr.appendChild(td);

                    td = document.createElement('td');
                    td.innerHTML = user.email;
                    tr.appendChild(td);

                    td = document.createElement('td');
                    if (user.isAdmin) {
                        td.innerHTML = 'admin';
                    }
                    tr.appendChild(td);

                    td = document.createElement('td');
                    td.innerHTML = user.status;
                    tr.appendChild(td);

                    td = document.createElement('td');
                    a = document.createElement('a');
                    var i = document.createElement('i');
                    i.className = "bi bi-pencil";
                    a.appendChild(i);
                    a.className = "btn btn-outline-success"
                    a.href = "/Users/EditUser?userId=" + user.id;
                    td.appendChild(a);

                    a = document.createElement('a');
                    i = document.createElement('i');
                    i.className = "bi bi-trash";
                    a.appendChild(i);
                    a.className = "btn btn-outline-danger";
                    a.href = "/Users/DeleteUser?userId=" + user.id;
                    td.appendChild(a);

                    a = document.createElement('a');
                    i = document.createElement('i');
                    i.className = (user.status === 'active') ? 'bi bi-lock' : 'bi bi-unlock'; 
                    a.appendChild(i);
                    a.className = "btn btn-outline-success";
                    a.href = "/Users/ChangeUserStatus?userId=" + user.id + "&currentStatus=" + user.status;
                    td.appendChild(a);

                    tr.appendChild(td);

                    usersTable.append(tr);
                });
                setTimeout(updateUsersList, 5000);
            })
            .catch(e => {
                console.log('Error: ', e);
                setTimeout(updateUsersList, 5000);
            });
    }

    function clearTable(table, offset = 0) {
        let rowCount = table.rows.length;
        for (var i = offset; i < rowCount; i++) {
            table.deleteRow(offset);
        }
    }
</script>
