
<div>
    <nav class="navbar">
        <form class="form-inline">
            <h1>Users</h1>
        </form>
        <form class="form-inline">
            <a href="/Users/CreateUser" class="btn btn-outline-success"><i class="bi bi-person-plus"></i></a>
        </form>
    </nav>

    <table class="table table-bordered" id="usersTable">
        <thead class="thead-dark">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


<script>
    var usersTable = document.getElementById('usersTable');

    updateUsersList();

    function updateUsersList() {
        var url = '/Users/GetUsersList';
        fetch(url)
            .then(res => res.json())
            .then(data => {
                clearTable(usersTable, 1);

                data.forEach((user) => {
                    var tr = document.createElement('tr');

                    createTdWithA(tr, user.userName, "/Collections/CollectionsList?collectionsOwnerId=" + user.id);

                    createTd(tr, user.email);
                    createTd(tr, user.isAdmin ? 'admin' : '');
                    createTd(tr, user.status);

                    var td = document.createElement('td');
                    createAWithIcon(td, "bi bi-pencil", "btn btn-outline-success", "/Users/EditUser?userId=" + user.id);
                    createAWithIcon(td, "bi bi-trash", "btn btn-outline-danger", "/Users/DeleteUser?userId=" + user.id);
                    createAWithIcon(td, (user.status === 'active') ? 'bi bi-lock' : 'bi bi-unlock',
                        "btn btn-outline-success", "/Users/ChangeUserStatus?userId=" + user.id + "&currentStatus=" + user.status);

                    tr.appendChild(td);

                    usersTable.append(tr);
                });
                setTimeout(updateUsersList, 5000);
            })
            .catch(e => {
                setTimeout(updateUsersList, 5000);
            });
    }

    function createTdWithA(tr, text, href) {
        td = document.createElement('td');
        var a = document.createElement('a');
        var linkText = document.createTextNode(text);
        a.appendChild(linkText);
        a.href = href;
        td.appendChild(a);
        tr.appendChild(td);
    }

    function createTd(tr, text) {
        td = document.createElement('td');
        td.innerHTML = text;
        tr.appendChild(td);
    }

    function createAWithIcon(td, iconClassName, aClassName, aHref) {
        a = document.createElement('a');
        var i = document.createElement('i');
        i.className = iconClassName;
        a.appendChild(i);
        a.className = aClassName;
        a.href = aHref;
        td.appendChild(a);
    }

    function clearTable(table, offset = 0) {
        let rowCount = table.rows.length;
        for (var i = offset; i < rowCount; i++) {
            table.deleteRow(offset);
        }
    }
</script>
